In [2]:
# 1000 - Hello World
print("Hello World!")

Hello World!

In [ ]:
# 1001 - Extremely Basic
a = int(input())
b = int(input())
x = a + b
print("X =",x)

X = 19

In [ ]:
def sum(a,b):
    x = a+b
    print(f"X = {x}")
sum(10,9)

In [ ]:
# 1002 - Area of Circle
r = float(input())
pi = 3.14159
a = pi * r*r
print(f"A={a:.4f}")

A=31819.3103

In [16]:
# 1003 - Simple Sum
a = int(input())
b = int(input())
soma = a + b
print(f"SOMA = {soma}")

SOMA = 40

In [18]:
# 1004 - Simple Product
a = int(input())
b = int(input())
x = a * b
print(f"PROD = {x}")

PROD = -300

In [21]:
# 1005 - Average 1
a = float(input())
b = float(input())
avg = (a*3.5+b*7.5)/(3.5+7.5)
print(f"MEDIA = {avg:.5f}")

MEDIA = 6.43182

In [22]:
# 1006 - Average 2
a = float(input())
b = float(input())
c = float(input())
avg = (a*2 + b*3 + c*5)/(2 + 3 + 5)
print(f"MEDIA = {avg:.1f}")

MEDIA = 6.3

In [23]:
# 1007 - Difference
a = int(input())
b = int(input())
c = int(input())
d = int(input())

diff = (a*b) - (c*d)
print(f"DIFERENCA = {diff}")

DIFERENCA = -26

In [25]:
# 1008 - Salary
num = int(input())
hrs = int(input())
amount = float(input())
salary = amount * hrs
print(f"NUMBER = {num}" )
print(f"SALARY = U$ {salary:.2f}")

NUMBER = 25
SALARY = U$ 550.00

In [4]:
# 1009 - Salary with Bonus
name = str(input())
salary = float(input())
sales_money = float(input())
percentage_receive = (sales_money * 15)/100
final_salary = salary + percentage_receive
print(f"TOTAL = R$ {final_salary:.2f}")

TOTAL = R$ 700.00

In [5]:
# 1010 - Simple Calculate
prod_1 = input()
prod_2 = input()

a1,b1,c1 = prod_1.split()
a2,b2,c2 = prod_2.split()

a1 = int(a1)
a2 = int(a2)

b1 = int(b1)
b2 = int(b2)

c1 = float(c1)
c2 = float(c2)

amount_to_be_paid = (b1*c1 + b2*c2)
print(f"VALOR A PAGAR: R$ {amount_to_be_paid:.2f}")

VALOR A PAGAR: R$ 15.50

In [6]:
# 1011 - Sphere
r = int(input())
pi = 3.14159
volume = 4/3 * pi * r*r*r
print(f"VOLUME = {volume:.3f}")

VOLUME = 14797486501.627

#### Space Repetition

In [ ]:
# 1012 - Area

values = input().split()
a = float(values[0])
b = float(values[1])
c = float(values[2])

pi = 3.14159
area_of_triangle = 1/2 * a * c
area_of_circle = pi * c*c
area_of_trapezium = (a+b)/2 * c
area_of_square = b*b
area_of_rectangle = a*b

print(f"TRIANGULO: {area_of_triangle:.3f}")
print(f"CIRCULO: {area_of_circle:.3f}")
print(f"TRAPEZIO: {area_of_trapezium:.3f}")
print(f"QUADRADO: {area_of_square:.3f}")
print(f"RETANGULO: {area_of_rectangle:.3f}")

TRIANGULO: 7.500
CIRCULO: 78.540
TRAPEZIO: 17.500
QUADRADO: 16.000
RETANGULO: 12.000

### Explanation for space seperated values-
we're treating the input as a single line of space-separated values and split() breaks that line into a list of strings. So if you type:
3.0 4.0 5.2
then values becomes:
['3.0', '4.0', '5.2']
so the indexing comes

In [11]:
# 1013 - The Greatest
values = input().split()
a = int(values[0])
b = int(values[1])
c = int(values[2])
# max between a and b
ab = (a + b + abs(a-b)) // 2
# max between ab and c
greatest = (ab + c + abs(ab-c)) // 2
print(f"{greatest} eh o maior")

106 eh o maior

In [13]:
# 1014 - Consumption
x = int(input())
y = float(input())
consumption = x/y
print(f"{consumption:.3f} km/l")

14.286 km/l

In [19]:
# 1015 - Distance between 2 points
val_1 = input().split()
val_2 = input().split()
x1 = float(val_1[0])
y1 = float(val_1[1])
x2 = float(val_2[0])
y2 = float(val_2[1])

distance = ((x2-x1)**2 + (y2-y1)**2)**0.5
 
print(f"{distance:.4f}")

16.1484

In [ ]:
# 1016 - Distance
distance = int(input())
time_y = (60 * distance) // 30
print(f"{time_y} minutos")

220 minutes

In [23]:
# 1017 - Fuel Spent
time = int(input())
speed = int(input())
distance = speed * time
liters_needed = distance / 12
print(f"{liters_needed:.3f}")

70.833

In [24]:
# 1018 - Bank Notes
num = int(input())
bank_notes = [100, 50, 20, 10, 5, 2, 1]
print(num)
for notes in bank_notes:
    count = num // notes
    num %= notes
    print(f"{count} nota(s) de R$ {notes},00")

576
5 nota(s) de R$ 100,00
1 nota(s) de R$ 50,00
1 nota(s) de R$ 20,00
0 nota(s) de R$ 10,00
1 nota(s) de R$ 5,00
0 nota(s) de R$ 2,00
1 nota(s) de R$ 1,00

### Explanation- 
(amount // note) gives how many times the note fits into the remaining amount.

(amount % note) updates the remaining amount after using those notes.

In [2]:
# 1019 - Time Conversion
n = int(input())
h = n // 3600
remSec = n % 3600
m = remSec // 60
s = remSec % 60
print(f"{h}:{m}:{s}")

0:9:16

In [10]:
# 1020 - Age in Days
n = int(input())
y = n // 365
remTym = n % 365
m = remTym // 30
d = remTym % 30
print(y, "ano(s)")
print(m, "mes(es)")
print(d, "dia(s)")

2 ano(s)
2 mes(es)
10 dia(s)

In [14]:
# 1021 - Banknotes and Coins
n = float(input())
cents = int(round(n * 100))
bank_notes = [10000, 5000, 2000, 1000, 500, 200]
bank_coins = [100, 50, 25, 10, 5, 1 ]

print("NOTAS:")
for notes in bank_notes:
    num_notes = cents // notes
    print(f"{num_notes} nota(s) de R$ {notes/100:.2f}")
    cents %= notes

print("MOEDAS:")
for coins in bank_coins:
    num_coins = cents // coins
    print(f"{num_coins} moeda(s) de R$ {coins/100:.2f}")
    cents %= coins

NOTAS:
5 nota(s) de R$ 100.00
1 nota(s) de R$ 50.00
1 nota(s) de R$ 20.00
0 nota(s) de R$ 10.00
1 nota(s) de R$ 5.00
0 nota(s) de R$ 2.00
MOEDAS:
1 moeda(s) de R$ 1.00
1 moeda(s) de R$ 0.50
0 moeda(s) de R$ 0.25
2 moeda(s) de R$ 0.10
0 moeda(s) de R$ 0.05
3 moeda(s) de R$ 0.01

#### <span style="color:#00bfff"> Convert to cents: </style>
Multiply the input by 100 and round to avoid floating-point errors. 
#### <span style="color:#00bfff"> num_coins / num_notes = cents // coins/notes </style>
Count number of coins/notes
#### <span style="color:#00bfff"> cents %= notes/coins </style>
update value (remaining so mod)

## <span style="color : red">Ends</span>